### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# pyenv
.python-version

# vscode
.vscode

### VisualStudioCode template
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# development sqlite
db.sqlite3

# envirornment for django-environ
.env

# ansible vault password
.vault_password

# vim
.*swp

# coverage
.coverage
