DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY={{ django_secret_key }}
DATABASE_URL=postgres://{{ cast_postgres_user }}:{{ cast_postgres_password }}@localhost:5432/{{ cast_postgres_database }}
